body {
  background: #486f7b;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  text-align: right;
  font-size: 10px;
  display: inline-block;
  margin-right: 191.3px;
}
h2{
  font-size: 30px;
  
}
p{
  
}
body
h3 {
  font-size: 10 px
}
h4 {
  font-size: 10 px
}
img